<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="" type="image/x-icon">
        <link href="{% static 'main_index.css' %}" rel="stylesheet">
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="p-10 bg-background text-text">
        <header></header>
        {% block content %}{% endblock %}
    
        {% block custom_scripts %}{% endblock %}
    </body>
</html>
    
